/* color palette
#FE7743
#EFEEEA
#273F4F
#000000 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-display: 'Poppins', sans-serif;

  --color-primary: #FE7743;       /* The Action Color (Orange) */
  --color-secondary: #273F4F;     /* The Structural Color (Deep Navy) */
  --color-surface: #EFEEEA;       /* The Canvas (Off-White) */
  --color-dark: #000000;          /* The Text/Contrast (Black) */

  --breakpoint-3xl: 1920px;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: var(--color-surface);
    color: var(--color-dark);
    overflow-x: hidden;
  }
}

.input-box{
  @apply w-full flex justify-between gap-3 text-sm text-black bg-slate-300 rounded-xl px-4 py-4 mb-4 mt-3 border border-slate-200 outline-none
}

.btn-primary{
  @apply w-full text-sm font-medium text-white bg-primary shadow-lg shadow-orange-800/50 rounded-md p-2.5 hover:bg-secondary hover:shadow-secondary cursor-pointer transition-all duration-300 ease-in-out active:scale-98
}

.card{
  @apply bg-white p-6 rounded-2xl shadow-md shadow-gray-100 border border-gray-200/50
}

.card-btn{
  @apply flex items-center justify-center gap-3 text-[12px] font-medium text-gray-700 hover:text-primary bg-gray-50 hover:bg-secondary px-4 py-1.5 rounded-lg border border-gray-200/50 cursor-pointer
}

.card-btn-fill{
 @apply flex items-center justify-center gap-3 text-[12px] font-medium text-white hover:text-primary bg-primary hover:bg-secondary px-4 py-1.5 rounded-lg border cursor-pointer
}

.add-btn{
  @apply w-full flex items-center justify-center gap-1.5 text-sm font-medium text-secondary whitespace-nowrap bg-primary hover:scale-101 px-4 py-2 cursor-pointer rounded-lg
}

.form-card{
  @apply bg-white p-6 rounded-lg shadow-md shadow-gray-100 border border-gray-200/50
}

.form-input{
  @apply w-full text-sm text-black outline-none bg-white border border-slate-100 px-2.5 py-3 rounded-md mt-2 placeholder:text-gray-500
}

.download-btn{
  @apply items-center gap-3 text-xs md:text-[13px] text-lime-900 bg-lime-100 px-2 md:px-3 py-2 rounded border border-lime-200 hover:border-lime-400 cursor-pointer
}

.user-card{
  @apply bg-white p-4 rounded-xl shadow-md shadow-gray-100 border border-gray-200/50
}