  /* color palette
  #FE7743
  #EFEEEA
  #273F4F
  #000000 */

  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  @import "tailwindcss";

  @theme {
    --font-display: 'Poppins', sans-serif;

    --color-primary: #FE7743;       /* The Action Color (Orange) */
    --color-secondary: #273F4F;     /* The Structural Color (Deep Navy) */
    --color-surface: #EFEEEA;       /* The Canvas (Off-White) */
    --color-dark: #000000;          /* The Text/Contrast (Black) */

    --breakpoint-3xl: 1920px;
  }

  @layer base {
    html {
      font-family: var(--font-display);
    }

    body {
      background-color: var(--color-surface);
      color: var(--color-dark);
      overflow-x: hidden;
    }
  }